<h1> Minesweeper </h1>

<section>
  <ul>
    <li><router-link :to="{ name: 'games'}">List of Games</router-link></li>
    <li><router-link :to="{ name: 'new_game'}">New Game</router-link></li>
  </ul>
</section>

<router-view></router-view>
